NODE_ENV='development'
SERVER_PORT=3001
JWT_SECRET="my-random-string-for-seeding" # Please generate random string at least 12 chars long.
TRAINER_API_URL="http://localhost:8000"

AUTH_TOKEN='blah blah blah'

DATASETS_PATH_FROM_ROOT="src/storage/datasets/"
DATABASE_PATH_FROM_ROOT="src/storage/finetunellms.db"

ENABLE_HTTPS=false
HTTPS_KEY_PATH=
HTTPS_CERT_PATH=