.env.production
.env.development
src/storage/assets/*
!src/storage/assets/FinetuneLLMs_transparent.png
src/storage/documents/*
src/storage/comkey/*
src/storage/tmp/*
src/storage/vector-cache/*.json
src/storage/exports
src/storage/imports
src/storage/datasets/*
src/storage/temp/*
!src/storage/documents/DOCUMENTS.md
logs/server.log
*.db
*.db-journal
src/storage/lancedb
public/
