.env.production
.env.development
.env
src/storage/assets/*
src/storage/documents/*
storage/comkey/*
src/storage/comkey/*
src/storage/tmp/*
src/storage/exports
src/storage/imports
src/storage/datasets/*
src/storage/temp/*
!src/storage/documents/DOCUMENTS.md
logs/server.log
*.db
*.db-journal
src/storage/lancedb
src/certs/*
dist
build
package-lock.json
node_modules
prisma/migrations/*