django
django-ratelimit
python-dotenv
channels
channels_redis
daphne
watchgod
psutil

transformers
trl >= 0.9.4, < 1.0.0
peft
accelerate
datasets
bitsandbytes
scipy
sentencepiece
tensorboard
